  /* Aux */
  .is-red{border-color:#C10230;color: #C10230}
  .is-orange{border-color:#FF8000;color:#FF8000}
  .text-center{text-align: center}
  .text-uppercase{text-transform: uppercase}
  [class*="line-"]{background-position: center bottom;background-repeat: no-repeat;background-size: 70px 1px;padding-bottom: 5px;}
  .line-red{background-image: linear-gradient(to right, #C10230, #C10230);}
  .line-orange{background-image: linear-gradient(to right, #FF8000, #FF8000);}
  .line-gray{background-image: linear-gradient(to right, #565656, #565656);}
  .line-left{background-position-x:0px}
  .line-right{background-position-x: 100%}
  .columnss.line-left,[class*="column-"].line-left{background-position-x:10px}
  .columnss.line-right,[class*="column-"].line-right{background-position-x: calc(100% - 10px)}
  /* Flex */
  .flex{display:flex}
  .wrap{flex-wrap: wrap}
  .no-wrap{flex-wrap: nowrap}
  .align-center{align-content: center;align-items: center}
  .align-top{align-content: top;align-items: center}
  .align-bottom{align-content: bottom;align-items: center}
  .direction-column{flex-direction: column}
  .direction-column-reverse{flex-direction: column-reverse}
  .direction-row{flex-direction: row}
  .direction-row-reverse{flex-direction: row-reverse}
  .justify-around{justify-content: space-around}
  .justify-between{justify-content: space-between}
  .justify-center{justify-content: center}
  .justify-end{justify-content: flex-end}
  .justify-evenly{justify-content: space-evenly}
  
  .columnss{margin: 0 -10px}
  [class*="column-"]{display: inline-flex;flex-direction: column;padding: 0 10px;}
  /*==========  Mobile First Method  ==========*/
  /* Custom, iPhone Retina */
  @media only screen and (min-width : 320px) {
      .is-xs-1{flex:1}
      .is-xs-2{flex:2}
      .is-xs-3{flex:3}
      .is-xs-4{flex:4}
      .is-xs-5{flex:5}
      .is-xs-6{flex:6}
      .is-xs-7{flex:7}
      .is-xs-8{flex:8}
      .is-xs-9{flex:9}
      .is-xs-10{flex:10}
      .is-xs-11{flex:11}
      .is-xs-12{flex:12}
      .order-xs-1{order:1}
      .order-xs-2{order:2}
      .order-xs-3{order:3}
      .order-xs-4{order:4}
      .order-xs-5{order:5}
      .order-xs-6{order:6}
      .order-xs-7{order:7}
      .order-xs-8{order:8}
      .order-xs-9{order:9}
      .order-xs-10{order:10}
      .order-xs-11{order:11}
      .order-xs-12{order:12}
      .column-xs-1 {width: calc(8.33% - 30px)}
      .column-xs-2 {width: calc(16.66% - 30px)}
      .column-xs-3 {width: calc(25% - 30px)}
      .column-xs-4 {width: calc(33.33% - 30px)}
      .column-xs-5 {width: calc(41.66% - 30px)}
      .column-xs-6 {width: calc(50% - 30px)}
      .column-xs-7 {width: calc(58.33% - 30px)}
      .column-xs-8 {width: calc(66.66% - 30px)}
      .column-xs-9 {width: calc(75% - 30px)}
      .column-xs-10 {width: calc(83.33% - 30px)}
      .column-xs-11 {width: calc(91.66% - 30px)}
      .column-xs-12 {width: calc(100% - 30px)}
      .text-count-1-xs {column-count: 1;column-gap: 10px;}
      .text-count-2-xs {column-count: 2;column-gap: 10px;}
      .text-count-3-xs {column-count: 3;column-gap: 10px;}
      .text-count-4-xs {column-count: 4;column-gap: 10px;}
      }
  
  /* Extra Small Devices, Phones */
  @media only screen and (min-width : 480px) {
      .is-sm-1{flex:1}
      .is-sm-2{flex:2}
      .is-sm-3{flex:3}
      .is-sm-4{flex:4}
      .is-sm-5{flex:5}
      .is-sm-6{flex:6}
      .is-sm-7{flex:7}
      .is-sm-8{flex:8}
      .is-sm-9{flex:9}
      .is-sm-10{flex:10}
      .is-sm-11{flex:11}
      .is-sm-12{flex:12}
      .order-sm-1{order:1}
      .order-sm-2{order:2}
      .order-sm-3{order:3}
      .order-sm-4{order:4}
      .order-sm-5{order:5}
      .order-sm-6{order:6}
      .order-sm-7{order:7}
      .order-sm-8{order:8}
      .order-sm-9{order:9}
      .order-sm-10{order:10}
      .order-sm-11{order:11}
      .order-sm-12{order:12}
      .column-sm-1 {width: calc(8.33% - 30px)}
      .column-sm-2 {width: calc(16.66% - 30px)}
      .column-sm-3 {width: calc(25% - 30px)}
      .column-sm-4 {width: calc(33.33% - 30px)}
      .column-sm-5 {width: calc(41.66% - 30px)}
      .column-sm-6 {width: calc(50% - 30px)}
      .column-sm-7 {width: calc(58.33% - 30px)}
      .column-sm-8 {width: calc(66.66% - 30px)}
      .column-sm-9 {width: calc(75% - 30px)}
      .column-sm-10 {width: calc(83.33% - 30px)}
      .column-sm-11 {width: calc(91.66% - 30px)}
      .column-sm-12 {width: calc(100% - 30px)}
      .text-count-1-sm {column-count: 1;column-gap: 10px;}
      .text-count-2-sm {column-count: 2;column-gap: 10px;}
      .text-count-3-sm {column-count: 3;column-gap: 10px;}
      .text-count-4-sm {column-count: 4;column-gap: 10px;}    
  }
  
  /* Small Devices, Tablets */
  @media only screen and (min-width : 768px) {
      .is-md-1{flex:1}
      .is-md-2{flex:2}
      .is-md-3{flex:3}
      .is-md-4{flex:4}
      .is-md-5{flex:5}
      .is-md-6{flex:6}
      .is-md-7{flex:7}
      .is-md-8{flex:8}
      .is-md-9{flex:9}
      .is-md-10{flex:10}
      .is-md-11{flex:11}
      .is-md-12{flex:12}
      .order-md-1{order:1}
      .order-md-2{order:2}
      .order-md-3{order:3}
      .order-md-4{order:4}
      .order-md-5{order:5}
      .order-md-6{order:6}
      .order-md-7{order:7}
      .order-md-8{order:8}
      .order-md-9{order:9}
      .order-md-10{order:10}
      .order-md-11{order:11}
      .order-md-12{order:12}
      .column-md-1 {width: calc(8.33% - 30px)}
      .column-md-2 {width: calc(16.66% - 30px)}
      .column-md-3 {width: calc(25% - 30px)}
      .column-md-4 {width: calc(33.33% - 30px)}
      .column-md-5 {width: calc(41.66% - 30px)}
      .column-md-6 {width: calc(50% - 30px)}
      .column-md-7 {width: calc(58.33% - 30px)}
      .column-md-8 {width: calc(66.66% - 30px)}
      .column-md-9 {width: calc(75% - 30px)}
      .column-md-10 {width: calc(83.33% - 30px)}
      .column-md-11 {width: calc(91.66% - 30px)}
      .column-md-12 {width: calc(100% - 30px)}
      .text-count-1-md {column-count: 1;column-gap: 10px;}
      .text-count-2-md {column-count: 2;column-gap: 10px;}
      .text-count-3-md {column-count: 3;column-gap: 10px;}
      .text-count-4-md {column-count: 4;column-gap: 10px;}    
  }
  
  /* Medium Devices, Desktops */
  @media only screen and (min-width : 992px) {
      .is-lg-1{flex:1}
      .is-lg-2{flex:2}
      .is-lg-3{flex:3}
      .is-lg-4{flex:4}
      .is-lg-5{flex:5}
      .is-lg-6{flex:6}
      .is-lg-7{flex:7}
      .is-lg-8{flex:8}
      .is-lg-9{flex:9}
      .is-lg-10{flex:10}
      .is-lg-11{flex:11}
      .is-lg-12{flex:12}
      .order-lg-1{order:1}
      .order-lg-2{order:2}
      .order-lg-3{order:3}
      .order-lg-4{order:4}
      .order-lg-5{order:5}
      .order-lg-6{order:6}
      .order-lg-7{order:7}
      .order-lg-8{order:8}
      .order-lg-9{order:9}
      .order-lg-10{order:10}
      .order-lg-11{order:11}
      .order-lg-12{order:12}
      .column-lg-1 {width: calc(8.33% - 30px)}
      .column-lg-2 {width: calc(16.66% - 30px)}
      .column-lg-3 {width: calc(25% - 30px)}
      .column-lg-4 {width: calc(33.33% - 30px)}
      .column-lg-5 {width: calc(41.66% - 30px)}
      .column-lg-6 {width: calc(50% - 30px)}
      .column-lg-7 {width: calc(58.33% - 30px)}
      .column-lg-8 {width: calc(66.66% - 30px)}
      .column-lg-9 {width: calc(75% - 30px)}
      .column-lg-10 {width: calc(83.33% - 30px)}
      .column-lg-11 {width: calc(91.66% - 30px)}
      .column-lg-12 {width: calc(100% - 30px)}
      .text-count-1-lg {column-count: 1;column-gap: 10px;}
      .text-count-2-lg {column-count: 2;column-gap: 10px;}
      .text-count-3-lg {column-count: 3;column-gap: 10px;}
      .text-count-4-lg {column-count: 4;column-gap: 10px;}    
  }
  
  /* Large Devices, Wide Screens */
  @media only screen and (min-width : 1200px) {
      .is-xl-1{flex:1}
      .is-xl-2{flex:2}
      .is-xl-3{flex:3}
      .is-xl-4{flex:4}
      .is-xl-5{flex:5}
      .is-xl-6{flex:6}
      .is-xl-7{flex:7}
      .is-xl-8{flex:8}
      .is-xl-9{flex:9}
      .is-xl-10{flex:10}
      .is-xl-11{flex:11}
      .is-xl-12{flex:12}
      .order-xl-1{order:1}
      .order-xl-2{order:2}
      .order-xl-3{order:3}
      .order-xl-4{order:4}
      .order-xl-5{order:5}
      .order-xl-6{order:6}
      .order-xl-7{order:7}
      .order-xl-8{order:8}
      .order-xl-9{order:9}
      .order-xl-10{order:10}
      .order-xl-11{order:11}
      .order-xl-12{order:12}
      .column-xl-1 {width: calc(8.33% - 30px)}
      .column-xl-2 {width: calc(16.66% - 30px)}
      .column-xl-3 {width: calc(25% - 30px)}
      .column-xl-4 {width: calc(33.33% - 30px)}
      .column-xl-5 {width: calc(41.66% - 30px)}
      .column-xl-6 {width: calc(50% - 30px)}
      .column-xl-7 {width: calc(58.33% - 30px)}
      .column-xl-8 {width: calc(66.66% - 30px)}
      .column-xl-9 {width: calc(75% - 30px)}
      .column-xl-10 {width: calc(83.33% - 30px)}
      .column-xl-11 {width: calc(91.66% - 30px)}
      .column-xl-12 {width: calc(100% - 30px)}
      .text-count-1-xl {column-count: 1;column-gap: 10px;}
      .text-count-2-xl {column-count: 2;column-gap: 10px;}
      .text-count-3-xl {column-count: 3;column-gap: 10px;}
      .text-count-4-xl {column-count: 4;column-gap: 10px;}    
  }
  /* Text Gap */
  .text-count-1 {column-count: 2;column-gap: 10px;}
  .text-count-2 {column-count: 2;column-gap: 10px;}
  .text-count-3 {column-count: 2;column-gap: 10px;}
  .text-count-4 {column-count: 2;column-gap: 10px;}
